<a href="https://colab.research.google.com/github/JacobTokarski/Laboratorium-3/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Zadanie 1 z listy3_przedziały_ufności

  Polecenie

W pewnym doświadczeniu medycznym bada si,
e czas snu pacjentow leczonych na pewn ,a chorob,
e. Zmierzono czas snu u n = 16 wylosowanych niezale˙znie pacjent´ow i otrzymano nast,
epuj ,
ace wyniki ( w minutach):
435, 533, 393, 458, 525, 481, 324, 437, 348, 503, 383, 395, 416, 533, 500, 488. Przyjmuj ,
ac, ˙ze czas snu ma rozk lad N(µ, 70), oszacowa´c ´sredni µ czasu snu pacjent´ow przyj ,
ac wsp´o lczynnik ufno´sci 0.99.

In [3]:
import numpy as np
import pandas as pd
import scipy as sc
import scipy.stats as stats

In [32]:
qnorm=sc.stats.norm.pdf

NameError: name 'sc' is not defined

In [6]:
dane=pd.Series([435, 533, 393, 458, 525, 481, 324, 437, 348, 503, 383, 395, 416, 533, 500, 488])

In [7]:
dane.describe()

count     16.000000
mean     447.000000
std       66.146302
min      324.000000
25%      394.500000
50%      447.500000
75%      500.750000
max      533.000000
dtype: float64

In [10]:
sigma=70
alfa=0.005
X=dane.mean()
n=len(dane)
a_alfa=qnorm(1-alfa)
half=a_alfa*sigma/np.sqrt(n)
left=X-half
right=X+half
wynik=np.array([left, right])
wynik

array([442.74434006, 451.25565994])

Zadanie 2
  Polecenie

  Nale˙zy oszacowa´c ˙zywotno´s´c wyprodukowanej partii ´swietl´owek.
Wiadomo, ˙ze czas ´swiecenia ´swietl´owek ma rozk lad normalny z odchyleniem
standardowym σ = 120 godzin. Wylosowano niezale˙znie z tej partii towaru
n = 25 ´swietl´owek, otrzymano w ten spos´ob nast,
epuj ,
ace wyniki (pomiary
czasu ´swiecenia w godzinach): 2630, 2820, 2900, 2810, 2770, 2840, 2700, 2950,
2690, 2720, 2800, 2970, 2680, 2660, 2820, 2580, 2840, 3020, 2780, 2920, 3060,
2840, 2550, 2790, 2850. Przyjmuj ,
ac wsp´o lczynnik ufno´sci 0.98 znale´z´c przedzia l ufno´sci dla ´sredniej.

In [11]:
# prompt: Nale˙zy oszacowa´c ˙zywotno´s´c wyprodukowanej partii ´swietl´owek.
# Wiadomo, ˙ze czas ´swiecenia ´swietl´owek ma rozk lad normalny z odchyleniem
# standardowym σ = 120 godzin. Wylosowano niezale˙znie z tej partii towaru
# n = 25 ´swietl´owek, otrzymano w ten spos´ob nast,
# epuj ,
# ace wyniki (pomiary
# czasu ´swiecenia w godzinach): 2630, 2820, 2900, 2810, 2770, 2840, 2700, 2950,
# 2690, 2720, 2800, 2970, 2680, 2660, 2820, 2580, 2840, 3020, 2780, 2920, 3060,
# 2840, 2550, 2790, 2850. Przyjmuj ,
# ac wsp´o lczynnik ufno´sci 0.98 znale´z´c przedzia l ufno´sci dla ´sredniej.

import numpy as np
import scipy.stats as stats

# Dane
dane = [2630, 2820, 2900, 2810, 2770, 2840, 2700, 2950,
        2690, 2720, 2800, 2970, 2680, 2660, 2820, 2580,
        2840, 3020, 2780, 2920, 3060, 2840, 2550, 2790, 2850]

# Parametry
sigma = 120
n = len(dane)
confidence_level = 0.98
alpha = 1 - confidence_level

# Średnia z próby
x_bar = np.mean(dane)

# Kwantyl rozkładu normalnego
z_alpha_2 = stats.norm.ppf(1 - alpha / 2)

# Błąd standardowy
standard_error = sigma / np.sqrt(n)

# Granice przedziału ufności
lower_bound = x_bar - z_alpha_2 * standard_error
upper_bound = x_bar + z_alpha_2 * standard_error

# Wynik
print(f"Przedział ufności dla średniej: [{lower_bound:.2f}, {upper_bound:.2f}]")

Przedział ufności dla średniej: [2743.77, 2855.43]

In [21]:
dane1=pd.Series([2630, 2820, 2900, 2810, 2770, 2840, 2700, 2950,
        2690, 2720, 2800, 2970, 2680, 2660, 2820, 2580,
        2840, 3020, 2780, 2920, 3060, 2840, 2550, 2790, 2850])

In [22]:
dane1.describe()

count      25.000000
mean     2799.600000
std       129.694513
min      2550.000000
25%      2700.000000
50%      2810.000000
75%      2850.000000
max      3060.000000
dtype: float64

In [23]:
sigma = 120
alpha = 0.01
X=dane1.mean()
n=len(dane1)
a_alfa=qnorm(1-alpha)
half=a_alfa*sigma/np.sqrt(n)
left=X-half
right=X+half
wynik=np.array([left, right])
wynik

array([2793.73463158, 2805.46536842])

Zadanie 3
  Polecenie jest w pdfie , mamy zrobione zdjęcie w telefonie zaczyna się od sigma=13

Zadanie 4 Polecenie jest w pdfie , mamy zrobione zdjęcie w telefonie zaczyna się od dane2.pdSeries i wartości 4.33 itd

In [24]:
# prompt: Dokonano n = 4 niezale˙zne pomiary g l ,
# eboko´sci oceanu w pewnym regionie i uzyskano nastepuj ,
# ace wyniki: 4.33, 4.58, 4.47, 4.50 Wyznaczy´c
# przedzia l ufno´sci dla szacowanej ´sredniej g l ,
# eboko´sci oceanu w tym rejonie,
# przyjmuj ,
# ac wsp´o lczynnik ufno´sci 0.99.

import numpy as np
import scipy.stats as stats

# Dane z pomiarów głębokości oceanu
dane = np.array([4.33, 4.58, 4.47, 4.50])

# Liczba pomiarów
n = len(dane)

# Średnia z próby
x_bar = np.mean(dane)

# Odchylenie standardowe z próby (zakładamy, że nie znamy odchylenia populacji)
s = np.std(dane, ddof=1)  # ddof=1 dla estymatora nieobciążonego

# Współczynnik ufności
confidence_level = 0.99
alpha = 1 - confidence_level

# Kwantyl rozkładu t-Studenta
t_alpha_2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

# Błąd standardowy
standard_error = s / np.sqrt(n)

# Granice przedziału ufności
lower_bound = x_bar - t_alpha_2 * standard_error
upper_bound = x_bar + t_alpha_2 * standard_error

# Wynik
print(f"Przedział ufności dla średniej głębokości oceanu: [{lower_bound:.3f}, {upper_bound:.3f}]")

Przedział ufności dla średniej głębokości oceanu: [4.166, 4.774]

Zadanie 5 - polecenie znajduje się w pdfie , poprosić o zdjęcie

Zadanie 6 - polecenie znajduje się w pdfie , mamy zrobione zdjęcie w telefonie zaczyna sie od n = 900

Zadanie 7 - polecenie znajduje się w pdfie , poprosić o zdjęcie

Zadanie 8 - polecenie znajduje się w pdife , poprosić o zdjęcie

In [33]:
# prompt: Spo´sr´od ˙zar´owek wykonanych przez pewn,
# e fabryk ,
# e wylosowano
# niezale˙znie n = 100 sztuk i sprawdzono ich jako´s´c. 16 ˙zar´owek okaza lo si,
# e
# z lych. Przyjmuj ,
# ac wsp´o lczynnik ufno´sci 0.99 oszacowa´c procent brak´ow w
# wyprodukowanej partii ˙zar´owek.

import numpy as np
import scipy.stats as stats

# Dane
n = 100
x = 16

# Estymator proporcji wadliwych żarówek
p_hat = x / n

# Współczynnik ufności
confidence_level = 0.99
alpha = 1 - confidence_level

# Kwantyl rozkładu normalnego
z_alpha_2 = stats.norm.ppf(1 - alpha / 2)

# Błąd standardowy
standard_error = np.sqrt(p_hat * (1 - p_hat) / n)

# Granice przedziału ufności
lower_bound = p_hat - z_alpha_2 * standard_error
upper_bound = p_hat + z_alpha_2 * standard_error

# Wynik
print(f"Przedział ufności dla procentu braków: [{lower_bound:.4f}, {upper_bound:.4f}]")

Przedział ufności dla procentu braków: [0.0656, 0.2544]